.env
*.code-workspace
.vscode/
.idea/
venv/
__pycache__/
*.pyc
staticfiles/*
generated_files/*.pdf
generated_files/*.xlsx
.DS_Store
.ipynb_checkpoints
*.ipynb
pg_data/
api_requests.rest
Dockerfile
docker-compose.yml
docker-compose-dev.yml
build.sh
